<div class="container">

{% if messages %}
    <br>
  <ul class="messages">
    {% for message in messages %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
  </ul>
{% endif %}

{% if error %}
    <br>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ error }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}

</div>